@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(44, 79, 196);
  color: white;
  padding: 5px;
}

.App-title {
  font-size: 30px;
  color: white;
}

.App-content {
  margin: 50px;
}

h1 {
  margin: 0px;
}
.Counter {
  font-size: 200px;
}

.Counter-negative {
  font-size: 200px;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
